body {
    background: #fff;
}

.title {
    text-align: center;
    padding: 20px;
}

.pic {
    width: 720px;
    height: 280px;
}

.card {
    width: 720px;
    height: 280px;
    background: #f7f7f7;
    display: flex;
}

