$light: #ffffff;
$gray: #ebebe9;
$dark-blue: #0e1829;
$gray-blue: #63727d;
$brown: #8d807a;
$gold: #cf9d3f;
$break-point: 992px;

.ocard {
    // property for testing
    background-color: $gray;

    // all
    border-radius: 20px;

    // header

    // body
    .ocard-img {
        .ratio-3x2 {
            position: relative;
            width: 100%;

            &::before {
                display: block;
                content: "";
                padding-top: 100%;
                @media (min-width: 992px) {
                    padding-top: calc(2 / 3 * 100%);
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

    .ocard-title {
        font-size: 2rem;
    }

    .ocard-descp,
    .ocard-price,
    .ocard-status {
        font-size: 1.25rem;
    }

    .ocard-button {
        button {
            border-radius: 20px;
            border-color: $gold;
            background-color: $gold;
            color: $light;
        }
    }
}
