$light: #ffffff;
$gray: #ebebe9;
$dark-blue: #0e1829;
$gray-blue: #63727d;
$brown: #8d807a;
$gold: #cf9d3f;
$break-point: 992px;
// sass 輸出大小寫不敏感

body {
    font-family: "Tenor Sans", sans-serif;
    height: 100vh;
    width: 100%;
    background-color: $gray;
}

.navbar {
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    // 漢堡選單
    #menu-bar {
        top: 14px;
        left: 14px;
        a {
            color: $brown;
            font-size: 24px;
        }
    }
    // Logo
    #logo {
        img {
            height: 100%;
            object-fit: cover;
        }

        height: 48px;

        @media (min-width: $break-point) {
            height: 56px;
        }
    }
    // 連結列表
    #link-group {
        a {
            color: $gold;
            cursor: pointer;

            &:hover {
                opacity: 0.75;
            }
        }

        width: 100%;
        @media (min-width: $break-point) {
            display: flex;
            width: auto;
        }
    }
    // Icons
    #icon-group {
        a {
            color: $brown;
        }

        width: 100%;
        @media (min-width: $break-point) {
            width: auto;
        }
    }
}

// Bradecrumb
#breadcrumb {
    background-color: $gray-blue;
    position: sticky;
    top: 64px;
    @media (min-width: $break-point) {
        top: 72px;
    }

    li:before {
        color: $light;
    }
    li:after {
        color: $light;
        opacity: 0.75;
    }

    li,
    a {
        color: $light;
        font-weight: bold;
        text-decoration: none;
    }

    #expand-alt {
        color: $light;
    }
}

// Content
// #content {
//     position: sticky;
//     top: 104px;
//     @media (min-width: $break-point) {
//         top: 112px;
//     }
// }

// Sidebar
#sidebar {
    align-self: start;
    position: sticky;
    top: 104px;
    @media (min-width: $break-point) {
        top: 112px;
    }

    .nav-link {
        color: $dark_blue;
    }

    text-align: center;
    @media (min-width: 992px) {
        text-align: start;
    }
}

// Main
main {
    & > .container {
        background-color: #ffffff;
        border-radius: 20px;
        // min-height: calc(100vh - 150px);
        min-height: 300vh;
    }

    #avator {
        // width: 200px;
        // height: 200px;
        // background-color: red;
        // object-fit: cover;
    }
}
