body {
    font-family: "Tenor Sans", sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #ebebe9;
}

.navbar {
    background-color: #0e1829;
    /* height: 90px; */
}

/* Hamburger Menu */
#menu-bar > a {
    color: #8d807a;
}

/* Logo */
#logo img {
    height: 100%;
    object-fit: cover;
}

/* [0, 991.98] */
#logo {
    height: 48px;
}

/* [992, ] */
@media (min-width: 992px) {
    #logo {
        height: 56px;
    }
}

/* 連結列表 */
#link-group a {
    color: #cf9d3f;
    /* font-size: 18px; */
}

#link-group a:hover {
    color: #cf9d3f;
    opacity: 0.7;
}

/* [0, 991.98] */
#link-group {
    width: 100%;
}

/* [992, ] */
@media (min-width: 992px) {
    #link-group {
        display: flex;
        width: auto;
    }
}

/* Icon 連結列表 */
#icon-group a {
    color: #8d807a;
}

/* [0, 991.98] */
#icon-group {
    width: 100%;
}

@media (min-width: 992px) {
    #icon-group {
        width: auto;
    }
}
