@use "variables" as var;
@use "mixins" as mix;

.vice-nav {
    // all
    background-color: var.$gray-blue;
    @include mix.media(position, $md: sticky);
    @include mix.media(top, $md: 64px);

    .container {
        position: relative;

        .breadcrumb {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;

            .breadcrumb-item {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;

                &::before {
                    color: var.$light;
                    opacity: 0.6;
                }
                a {
                    color: var.$light;
                    opacity: 0.6;
                    font-size: 1rem;
                    text-decoration: none;
                }
            }
        }

        .expand-alt {
            position: absolute;
            top: 0.5rem;
            right: 0.75rem;
            @include mix.media(display, $xs: block, $md: none);
            font-size: 1rem;
            color: var.$light;
            opacity: 0.6;
        }
    }
}
