// breakpoint = bp
@use "../styles/mixins" as mix;

.filter {
    font-family: "Tenor Sans", sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px auto;
    .sort-series {
        padding-left: 11px;
        /* padding-bottom: 8px; */
        float: left;
        li {
            margin: 0 5px;
            width: 15%;
            display: inline;
            // padding: 8px 15px;
            background-color: #cf9d3f;
            border-radius: 20px;
            // margin-right: 15px;
        }
        .active {
            background-color: #0e1829;
        }
    }
    .sort-icon {
        input {
            width: 80%;
            // 取消input 預設樣式
            border: none;
            background-color: transparent;
            outline: none;
            -webkit-appearance: none;
        }
        //  取消input 預設樣式
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button {
            display: none;
        }
        li {
            padding: 0;
            margin: auto 8px;
            > i {
                color: #0e1829;
            }
        }
        // li {
        //     display: none;
        // }
    }

    .line {
        clear: both;
        width: 100%;
        /* margin-top: -17px; */
        border-bottom: 1px solid transparent;
    }
    // .sort-series .active {
    //     background-color: #0e1829;
    // }
    // .filter-box {
    //     display: flex;
    // }
    @include mix.sm {
        font-size: 14px;
        .line {
            width: 100%;
            border-bottom: 1px solid black;
        }
        .sort-icon {
            margin-right: 10px;
            li {
                display: inline;
            }
        }
    }
    @include mix.lg {
        .line {
            width: 100%;
        }
        .filter-box {
            width: 100%;
            margin: 0;
            justify-content: space-between;
        }
    }
}
