@use "variables" as var;
@use "mixins" as mix;

.footer {
    // all
    color: #fff;
    background: #2b2b2b;
    padding: 20px;

    //左欄
    .f-left {
        padding: 20px;
        @include mix.media(margin-left, $md: auto, $sm: auto);
        @include mix.media(text-align, $xs: center, $md: left);

        //左欄標題
        .f-logo {
            font-size: 50px;
            letter-spacing: 10px;
            @include mix.media(font-size, $xs: 30px, $lg: 50px);
        }

        //左欄內文
        .f-text {
            font-size: 14px;
            letter-spacing: 5px;
            @include mix.media(font-size, $md: 12px, $lg: 14px);
        }

        // 左欄輸入框
        .f-form-control {
            width: 55%;
            height: 55px;
            border-radius: 12px;
            color: #2b2b2b;
        }

        //送出按鈕
        .f-btn {
            width: 100px;
            height: 40px;
            background: #000;
            border-radius: 6px;
            color: #c4c4c4;
        }
    }

    //右欄
    .f-right {
        @include mix.media(padding, $xs: 1rem, $lg: 1.25rem);
        font-weight: 600;
        text-align: center;

        //右欄-
        .f-project {
            font-size: 24px;
            padding-bottom: 10px;
            @include mix.media(font-size, $md: 20px, $lg: 24px);
        }

        //右欄-連結
        .f-link {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            display: block;
            word-wrap: break-word;
            @include mix.media(font-size, $md: 12px, $lg: 14px);
        }

        //右欄-連結效果
        .f-link:hover {
            color: gray;
        }
    }

    //版權
    .f-statement {
        font-size: 12px;
        padding-top: 20px;
        border-top: solid 1px #c4c4c4;
        @include mix.media(text-align, $xs: center, $md: left);
    }

    // 下方 icon
    .f-icon {
        width: 50px;
        font-size: 24px;
        @include mix.media(font-size, $md: 18px, $lg: 24px);
        @include mix.media(width, $md: 30px, $lg: 50px);
        @include mix.media(text-align, $xs: center, $md: left);
    }
}
