@use "variables" as var;
@use "mixins" as mix;

.member-comment {
    @include mix.media(padding, $xs: 0.8rem, $md: 1.5rem);
    // padding: 1.5rem 0;
    // @include mix.media(border, $xs: none, $lg: solid 1px #ccc);
    // border-top: solid 1px #ccc;
    // @include mix.media(border-radius, $xs: 0, $md: 20px);
    // height: 300vh;
    // background-color: #fff;
    // margin-top: 16px;
    // margin-bottom: 20px;
    // @include mix.media(padding, $xs: 0, $md: 2rem);
    // @include mix.media(box-shadow, $xs: none, $md: 5px 5px 10px silver);

    .filter {
        font-size: 12px;
        color: #ffffff;
        margin-top: 20px auto;
        // border-bottom: 1px solid silver;

        .sort-series {
            padding-left: 11px;
            /* padding-bottom: 8px; */
            // float: left;

            li {
                margin: 0 5px;
                width: 20%;
                height: auto;
                display: inline;
                // background-color: #cf9d3f;
                border-radius: 20px;
                font-size: 14px;
            }

            .active {
                box-shadow: 2px 2px 8px silver;
            }

            .line {
                clear: both;
                width: 100%;
                border-bottom: 1px solid silver;
                /* margin-top: -17px; */
            }
        }
    }

    .review-card-img {
        @include mix.media(width, $xs: 7rem, $md: 150px);

        .ratios {
            @include mix.ratio(1, 1);
            img {
                border-radius: 8px;
                object-fit: cover;
            }
        }
    }

    .review-card {
        position: relative;
        // @include mix.media(border, $xs: none, $md: solid 1px #ccc);
        @include mix.media(border-bottom, $xs: solid 1px #ccc, $md: none);
        @include mix.media(border-radius, $xs: 0, $md: 8px);
        @include mix.media(
            box-shadow,
            $xs: 0,
            $md: 3px 3px 15px rgba(80, 93, 104, 0.18)
        );
        @include mix.media(padding, $xs: 1.5rem 0, $md: 20px);
        @include mix.media(padding-bottom, $xs: 10px);
        @include mix.media(margin, $md: 1.5rem 0);

        // margin: 1.5rem 0;

        h4 {
            @include mix.media(padding-bottom, $xs: 0px, $lg: 10px);
            @include mix.media(font-size, $xs: 16px, $lg: 26px);
        }

        .review-card-text {
            @include mix.media(text-align, $xs: center, $lg: right);
        }

        p {
            @include mix.media(font-size, $xs: 12px, $lg: 14px);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }

        .btn {
            // position: absolute;
            // @include mix.media(left, $xs: 80%, $lg: 87%, $xl: 89%);
            // @include mix.media(top, $xs: 60%, $md: 50%);
            color: black;
            border: solid 1px black;
            border-radius: 20px;
            font-size: 14px;
            @include mix.media(width, $xs: 60px, $md: 80px);
            height: auto;
        }

        .btn:hover {
            background-color: black;
            color: #fff;
        }
    }
}
