// 1. nesting 巢狀
// 2. variable
// 3. mixin 函數

// 1rem: 16px;
// 0.5rem: 8px;
// 0.25rem: 4px;
// 2rem: 32px;
// h1: 2.25rem;
// h2: 2rem;
// h3: 1.75rem;
// h4: 1.5rem;
// h5: 1.25rem;
// h6: 1rem;
// at-rule @

// @mixin padd($value) {
//     padding: $value;
//     @content;
// }

@use "variables" as v;
@use "mixins" as mix;

.wishlist {
    // all
    background-color: red;

    .hi {
        // color: blue;
        display: block;
        // padding: $text-padding;
        // @include padd($text-padding) {
        //     margin: 10px;
        // }

        // padding: 1rem;
        // margin: 10px;
        @include mix.media(
            color,
            $xs: black,
            // $lg: yellow,
            $md: white,
            // $xs: white,
            // $sm: aqua,
            // $xl: brown,
            // $xxl: white
        );

        // @include mix.media(color, yellow, black, white)

        // @media (min-width: 576px) {
        //     color: white;
        // }
        // @media (min-width: 768px) {
        //     color: aqua;
        // }
        // @media (min-width: 992px) {
        //     color: black;
        // }
    }
}
