@use "variables" as var;
@use "mixins" as mix;

.member-mail-detail {
    @include mix.media(padding, $xs: 1rem, $md: 1.5rem);

    .mail-card {
        // height: 200vh;
        @include mix.media(border, $xs: none, $md: solid 1px #ccc);
        @include mix.media(border-bottom, $xs: solid 1px #ccc, $md: none);
        @include mix.media(border-radius, $xs: 0, $md: 20px);
        @include mix.media(
            box-shadow,
            $xs: 0,
            $md: 3px 3px 15px rgba(80, 93, 104, 0.18)
        );
        @include mix.media(padding, $md: 1rem 15px);
        @include mix.media(margin, $md: 1.5rem 0);

        h4 {
            color: #63727e;
            padding-top: 10px;
            padding-bottom: 10px;
            @include mix.media(font-size, $xs: 16px, $md: 20px);
        }

        p {
            @include mix.media(font-size, $xs: 12px, $md: 14px);
        }

        .btn {
            color: #000000;
            @include mix.media(border, $xs: none, $md: solid 1px black);
            border-radius: 20px;
            font-size: 14px;
            width: 80px;
        }

        .btn:hover {
            background-color: #000000;
            color: #fff;
        }
    }
}
