@use "variables" as var;
@use "mixins" as mix;

$-border-radius: 20px;
$-filter-bar-button-width: 82px;

.member-order-filter-bar {
    hr {
        margin-top: 0;
    }

    .nav {
        align-items: center;
        flex-wrap: nowrap;
        overflow: scroll;

        .nav-item {
            // all
            &:not(:last-child) {
                margin-right: 1rem;
            }
            margin-top: 1rem;
            margin-bottom: 1rem;
            // button
            &:not(:first-child) {
                button {
                    border-radius: $-border-radius;
                    color: var.$light;
                    background-color: var.$dark-blue;
                }
            }

            &:first-child {
                button {
                    border-radius: $-border-radius;
                    color: var.$light;
                    background-color: var.$gold;
                }
            }

            button {
                width: $-filter-bar-button-width;
                font-size: 0.75rem;
                padding: 0.5rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
            }
        }
    }
}
