@use "variables" as v;
@use "mixins" as mix;

.favorite {
    .card-house {
        .form-check-input {
            &:checked {
                background-color: black;
                border-color: silver;
            }
            &:focus {
                border-color: silver;
                outline: none;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }
        }
        .card-title {
            @include mix.media(font-size, $xs: 12px, $md: 16px);
            margin: 0;
        }
        .card-img {
            .ratios {
                @include mix.ratio(3, 4);

                // @include xs {
                //     @include mix.ratio(1, 1);
                // }

                // @include md {
                //     @include mix.ratio(3, 5);
                // }
            }
            .download-badge {
                left: 90%;
            }
        }
        .already-text {
            @include mix.media(font-size, $xs: 12px, $md: 16px);
        }
    }
}
