// 字型最小 0.75rem
@use "variables" as var;
@use "mixins" as mix;

$-background-color: var.$gray;
$-border-radius: 20px;
$-button-bg-color: var.$gold;
$-button-color: var.$gray;

.order-card {
    // all
    // @include mix.media(background-color, $xs: var.$light, $md: var.$gray);
    background-color: rgba(0, 0, 0, 0);
    @include mix.media(border-radius, $xs: 10px, $md: $-border-radius);
    @include mix.media(padding, $xs: 1rem, $md: 1.5rem);
    @include mix.media(margin-bottom, $xs: 0.75rem, $md: 1.5rem);

    .order-card-header {
        padding-left: 0.25rem;
        font-size: 0.75rem;
        p {
            margin-bottom: 0.5rem;
        }
    }

    .order-card-body {
        align-items: center;

        .order-card-img {
            width: 154px;
            img {
                border-radius: $-border-radius;
                object-fit: cover;
            }

            .ratios {
                @include mix.ratio(3, 2, ">img");
            }
        }

        .order-card-descp {
            margin-bottom: 0;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 1rem;
            -webkit-line-clamp: 2;
            // height: calc(1rem * 1.5 * 2);
        }

        .order-card-price {
            margin-bottom: 0.5rem;
            text-align: end;
            font-size: 1.25rem;
        }

        // .order-card-status {
        //     margin-bottom: 0;
        //     text-align: center;
        // }

        hr {
            margin-top: 1rem;
        }

        .order-card-status {
            button {
                border-radius: $-border-radius;
                background-color: $-button-bg-color;
                // color: $-button-color;
                @include mix.media(color, $xs: var.$light, $md: var.$gray);
                font-size: 0.75rem;
            }
        }
        // .order-card-button {
        //     button {
        //         border-radius: $-border-radius;
        //         background-color: $-button-bg-color;
        //         // color: $-button-color;
        //         @include mix.media(color, $xs: var.$light, $md: var.$gray);
        //         font-size: 0.75rem;
        //     }
        // }
    }
}
