@use "variables" as var;
@use "mixins" as mix;

.member-profile-main {
    .box {
        width: 300px;
        height: 300px;
        background-color: deepskyblue;
    }
    // .onecard {
    //     height: 300px;
    //     width: 200px;
    // }

    .card-house {
        .card-img {
            .ratios {
                @include mix.ratio(4, 6);

                // @include xs {
                //     @include mix.ratio(1, 1);
                // }

                // @include md {
                //     @include mix.ratio(3, 5);
                // }
            }
        }
    }

    .diamod {
        width: 30px;
        height: 30px;
        background: transparent;
        border: 2px solid rgb(134, 134, 134);
        transform: rotate(45deg);
        margin: 50px;
    }

    h2 {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    h2.background {
        position: relative;
        z-index: 1;

        &:before {
            border-top: 2px solid #dfdfdf;
            content: "";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 95%;
            z-index: -1;
        }

        span {
            /* to hide the lines from behind the text, you have to set the background color the same as the container */
            background: #fff;
            padding: 0 15px;
        }
    }

    h2.double:before {
        /* this is just to undo the :before styling from above */
        border-top: none;
    }

    h2.double:after {
        border-bottom: 1px solid blue;
        -webkit-box-shadow: 0 1px 0 0 red;
        -moz-box-shadow: 0 1px 0 0 red;
        box-shadow: 0 1px 0 0 red;
        content: "";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        width: 95%;
        z-index: -1;
    }

    .spinner {
        // animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(270deg);
        }
    }

    @keyframes colors {
        0% {
            stroke: #4285f4;
        }
        25% {
            stroke: #de3e35;
        }
        50% {
            stroke: #f7c223;
        }
        75% {
            stroke: #1b9a59;
        }
        100% {
            stroke: #4285f4;
        }
    }
}
