@use "variables"as var;
@use "mixins"as mix;

.member-mail {
    @include mix.media(padding, $xs: 0.8rem, $md: 1.5rem);

    .mail-title {
        @include mix.media(text-align, $xs: left, $md: center);
        @include mix.media(padding, $xs: 0, $md: 0);



        .title {
            @include mix.media(font-size, $xs: 18px, $md: 28px);
            margin-bottom: 10px;
            @include mix.media(margin-top, $xs: 15px, $md: 0);
            @include mix.media(padding, $xs: 0, $md: 0 20px);

        }
    }

    .mail-card {
        position: relative;
        @include mix.media(border, $xs: none, $md: solid 1px #ccc);
        @include mix.media(border-bottom, $xs: solid 1px #ccc, $md: none);
        @include mix.media(border-radius, $xs: 0, $md: 8px);
        @include mix.media(box-shadow,
            $xs: 0,
            $md: 3px 3px 15px rgba(80, 93, 104, 0.18));
        @include mix.media(padding-bottom, $xs: 10px);
        @include mix.media(margin, $md: 1.5rem 0);
        @include mix.media(padding, $md: 10px 15px);



        h4 {
            color: #63727E;
            @include mix.media(padding-bottom, $xs: 0px, $lg: 10px);
            @include mix.media(font-size, $xs: 14px, $lg: 20px);

        }

        p {
            @include mix.media(font-size, $xs: 12px, $md: 14px);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .btn {
            @include mix.media(position, $xs: absolute);
            @include mix.media(left, $xs: 0px, $md: 80%, $lg: 85%, $xl: 88%);
            @include mix.media(top, $xs: 0px, $md:70%);
            @include mix.media(color, $xs: transparent, $md: #000000);
            @include mix.media(width, $xs: 60px, $md: 90px);
            height: auto;
            font-size: 14px;
            border-radius: 20px;
            @include mix.media(border, $xs: none, $md: solid 1px black);

        }

        .btn:hover {
            @include mix.media(background-color, $xs: transparent, $md: #000000);
            color: #fff;
        }
    }

}