@use "mixins" as mix;

.member {
    // margin: 1rem;
    margin: 1.5rem 0;
    box-shadow: 7px 7px 15px rgba(138, 149, 158, 0.25);
    @media (max-width: 767.9px) {
        border: none;
        border-top: 1px solid rgba(80, 93, 104, 0.18);
        border-bottom: 1px solid rgba(80, 93, 104, 0.18);
        border-radius: 0;
    }
    border: 1px solid rgba(80, 93, 104, 0.18);
    box-sizing: border-box;
    border-radius: 8px;
}
