@use "variables" as var;
@use "mixins" as mix;

.member-review-detail {
    // @include mix.media(border, $xs: none, $lg: solid 1px #ccc);
    // border-top: solid 1px #ccc;
    // @include mix.media(border-radius, $xs: 0, $md: 20px);
    // // height: 300vh;
    // background-color: #fff;
    // margin-top: 16px;
    // margin-bottom: 20px;
    // @include mix.media(padding, $xs: 0, $md: 2rem);
    // @include mix.media(box-shadow, $xs: none, $md: 5px 5px 10px silver);

    h4 {
        @include mix.media(padding-bottom, $xs: 0px, $lg: 10px);
        @include mix.media(font-size, $xs: 18px, $lg: 26px);
        @include mix.media(padding-top, $xs: 10px, $lg: 0);
    }

    .review-card-img {
        @include mix.media(width, $xs: 30%, $sm: 20%);
        @include mix.media(height, $xs: 30%, $sm: 20%);

        img {
            // border-radius: $-border-radius;
            object-fit: cover;
            @include mix.media(width, $xs: 100%, $md: 100%);
            @include mix.media(height, $xs: 100%, $md: 100%);
        }
    }

    .review-card {
        // position: relative;
        // @include mix.media(border, $xs: none, $md: solid 1px #ccc);
        // @include mix.media(border-bottom, $xs: solid 1px #ccc, $md: none);
        // @include mix.media(border-radius, $xs: 0, $md: 20px);
        // @include mix.media(box-shadow, $xs: 0, $md: 5px 5px 10px silver);
        // @include mix.media(padding, $xs: 0px, $md: 10px);
        // @include mix.media(padding-bottom, $xs: 40px, $md: 10px);
        // margin-bottom: 20px;

        h1 {
            @include mix.media(font-size, $xs: 24px, $lg: 40px);
        }

        .review-form {
            // padding: 50px;
            @include mix.media(padding, $xs: 10px, $md: 50px);

            .r-text {
                resize: none;
                margin: 1.5rem 0;
                // width: 100%;
                @include mix.media(width, $xs: 100%, $lg: 90%);
                @include mix.media(height, $xs: 8rem, $lg: 12rem);
                border-radius: 8px;
                border: solid 1px rgb(190, 190, 190);
                outline-style: none;
                background-color: transparent;
                -webkit-appearance: none;
                input:focus {
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
                //  取消input 預設樣式
                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button {
                    display: none;
                }
            }
            .add-box {
                input[type="file"] {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0;
                }

                .custom-file-upload {
                    border-radius: 8px;
                    border: 1px solid silver;
                    display: inline-block;
                    text-align: center;
                    @include mix.media(width, $xs: 6rem, $lg: 8rem);
                    @include mix.media(line-height, $xs: 6rem, $lg: 8rem);

                    @include mix.media(height, $xs: 6rem, $lg: 8rem);

                    cursor: pointer;
                }
                // appearance: none;
                // -moz-appearance: none;

                // input:focus {
                //     outline: none;
                // } /*input標籤聚焦不出現預設邊框:*/

                // border: 0; // 去除未選中狀態邊框
                // outline: none; // 去除選中狀態邊框
                // background-color: rgba(0, 0, 0, 0); // 透明背景
                // @include mix.media(width, $xs: 5rem, $md: 6rem);
                // @include mix.media(height, $xs: 5rem, $md: 6rem);
                // border: 1px solid silver;
            }
            .img-plus {
                font-size: 30px;
                color: #cf9d3f;
                // text-align: center;
                padding-top: 30%;
            }

            .btn {
                // position: absolute;
                // @include mix.media(left, $xs: 80%, $lg: 87%, $xl: 89%);
                // @include mix.media(top, $xs: 60%, $md: 50%);
                color: black;
                border: solid 1px black;
                border-radius: 20px;
                font-size: 14px;
                @include mix.media(width, $xs: 60px, $md: 80px);
                height: auto;
            }

            .btn:hover {
                background-color: black;
                color: #fff;
            }
        }
    }
}
