@use "variables" as var;
@use "mixins" as mix;

$-sidebar-margin-top-for-breadcrumb-boxshadow: 16px;
$-sidebar-background-color: var.$gray;
$-sidebar-link-color: var.$dark-blue;

.member-sidebar-left {
    // test
    background-color: $-sidebar-background-color;
    // all
    @include mix.media(display, $md: block !important);
    // >= 768px sticky
    @include mix.media(position, $md: sticky);
    @include mix.media(top, $md: 104px);
    margin-top: $-sidebar-margin-top-for-breadcrumb-boxshadow;

    padding-left: 1.75rem;

    // nav
    .nav {
        .nav-item {
            .nav-link {
                // 設定 link padding-left
                padding-right: 0;
                @include mix.media(padding-left, $xs: 0.25rem, $md: 0.5rem);
                color: $-sidebar-link-color;
            }
        }
    }
}

// Sidebar
#sidebar {
    ul {
        // position: sticky;
        // top: 104px;
        // top: 128px;
        // top: 136px;
        @media (min-width: 992px) {
            // top: 160px;
            position: sticky;
            top: 136px;
            // top: 136px;
        }
    }

    .nav-link {
        color: var.$light;
        @media (min-width: 992px) {
            color: var.$dark-blue;
        }
    }

    text-align: center;
    @media (min-width: 992px) {
        text-align: start;
    }

    @media (max-width: 991.98px) {
        background-color: var.$gray-blue;
    }
}
