// xs: <576px
// sm: >=576px
// md: >=768px
// lg: >=992px
// xl: >=1200px
// xxl: >=1400px
@mixin media($prop, $xs: "", $sm: "", $md: "", $lg: "", $xl: "", $xxl: "") {
    @if $xs != "" {
        #{$prop}: $xs;
    }

    @if $sm != "" {
        @media (min-width: 576px) {
            #{$prop}: $sm;
        }
    }

    @if $md != "" {
        @media (min-width: 768px) {
            #{$prop}: $md;
        }
    }

    @if $lg != "" {
        @media (min-width: 992px) {
            #{$prop}: $lg;
        }
    }

    @if $xl != "" {
        @media (min-width: 1200px) {
            #{$prop}: $xl;
        }
    }

    @if $xxl != "" {
        @media (min-width: 1400px) {
            #{$prop}: $xxl;
        }
    }
}
// Break Point RWD
@mixin xs {
    @content;
}

@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: 1440px) {
        @content;
    }
}
// 指定子標籤長寬比例
// ex: mix.ratio(3, 2, ">img");
// ex: mix.ratio(16, 9, "img");
@mixin ratio($width, $height, $tag: ">img") {
    position: relative;
    width: 100%;

    &::before {
        display: block;
        content: "";
        padding-top: calc($height / $width * 100%);
    }

    #{$tag} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Font Awesome for :before
@mixin fas($content: "\f004", $me: 0.5rem) {
    &::before {
        content: $content;
        // content: "\f49e";
        // content: "\f466";
        // content: "\f472";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        margin-right: $me;
    }
}
