@use "mixins" as mix;
@use "variables" as var;
body {
    background-color: $light;
    height: 100vh;
    // 滾動條隱藏
    overflow-x: hidden;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    // > a {
    //     color: black;
    //     text-decoration: none;
    //     &:link {
    //         color: black;
    //     }
    // }
}
.sweet-loading {
    height: 100vh;
    background: rgba(218, 218, 218, 0.8);
}
.product-list {
    @media (min-width: 768px) {
        .md-order-1 {
            order: 2;
        }
        .banner {
            order: 1;
        }
    }

    .banner {
        position: relative;
        .ratios {
            // 圖片比例 RWD
            @media (max-width: 767.98px) {
                @include mix.ratio(1, 1);
            }
            @media (min-width: 768px) {
                img {
                    height: 600px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .describe {
            position: absolute;
            top: 72%;
            left: 83%;
            @media (min-width: 992px) {
                top: 75%;
                left: 82%;
                font-size: 3rem;
            }
            transform: translate(-50%, -50%);
            width: 30%;
            height: 50%;
            text-align: end;
            text-shadow: black 0.1em 0.1em 0.2em;

            .c-title {
                color: $light;
                font-size: 2rem;
                margin-bottom: 12%;
                letter-spacing: 1rem;
                @media (min-width: 992px) {
                    font-size: 3rem;
                }
            }
            p {
                @media (max-width: 767.98px) {
                    display: none;
                }
                top: 60%;
                padding: 2.2rem 1.3rem;
                background: rgba(196, 196, 196, 0.32);
                text-align: end;
                line-height: 1.8rem;
                // letter-spacing: 1.2rem;
                color: $light;
                font-size: 1rem;
                overflow: hidden;
                // white-space: nowrap;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
    }
    // .title-block {
    //     position: absolute;
    //     top: 27%;
    //     left: 3%;
    //     width: 100%;
    //     height: 50%;
    // }

    .title-dec {
        position: absolute;
        transform: translate(-50%, -50%);
        @media (max-width: 767.98px) {
            width: 100%;
            right: -10%;
            text-align: center;
            font-size: 1rem;
            border: 1px solid $light;
            padding: 0.7rem;
        }
        @media (min-width: 768px) {
            font-size: 3rem;
            left: 27%;
            top: 46%;
            width: 10%;
            height: 9%;
        }
        @media (min-width: 992px) {
            left: 36%;
            top: 45%;
            width: 13%;
            height: 13%;
        }
        @media (min-width: 1200px) {
            left: 31%;
            top: 45%;
            width: 12%;
        }
        @media (min-width: 1440px) {
            left: 27%;
            top: 45%;
            width: 11%;
        }
        // left: 35%;
        background: rgba(255, 255, 255, 0.13);
        border: 3px solid rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        backdrop-filter: blur(50px);
    }
    .e-title {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 30%;
        // height: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 767.98px) {
            right: -10%;
            text-align: center;
            font-size: 1rem;
            border: 1px solid $light;
            padding: 0.7rem;
        }
        @media (min-width: 768px) {
            font-size: 3rem;
        }
        @media (min-width: 992px) {
            font-size: 4.5rem;
            letter-spacing: 0.7rem;
        }
        color: #fff;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}
.search-box {
    .phone-search {
        margin: 0.2rem 0;
        @include mix.xs {
            input {
                border: none;
                background-color: transparent;
                outline: none;
                width: 70%;
            }
            // 去除預設樣式
            input::-webkit-search-decoration,
            input::-webkit-search-cancel-button {
                display: none;
            }
        }
        @include mix.md {
            width: 100%;
        }
        border-bottom: 1px solid $gray-blue;
        // background-color: aqua;
        .search-icon {
            div:nth-child(1) {
                width: 2.5rem;
                height: 2.5rem;
                border: 1px solid $gray-blue;
                border-radius: 999em;
            }
            .icon-img {
                display: block;
                margin: 0.6rem auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}
.phone-filter {
    p {
        @include mix.xs {
            size: 0.75rem;
            color: $gray-blue;
        }
    }
    .dropdown-style {
        padding: 0 0.2rem;
        border: 1px solid $gray-blue;
        border-radius: 36px;
        display: inline-block;
        overflow: hidden;
        .filter-select {
            background-color: transparent;
            text-align: center;
            width: 4rem;
            height: 40px;
            border: 0px;
            outline: none;
            color: $gray-blue;
        }
    }
    .icon-g {
        > div {
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid $gray-blue;
            border-radius: 999em;
        }
        .icon-img {
            display: block;
            margin: 0.6rem auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}
.tags-list {
    overflow: scroll;
    margin: auto;
    font-size: 14px;
    .tag-text {
        border-color: $gray;
        padding: 0.3rem 0.6rem;
        // border-radius: 15px;
        color: $gray;
        cursor: pointer;
        &:hover {
            border-color: black;
            color: black;
        }
        // 點擊時加上acitve
        .active {
            border-color: black;
            color: black;
            // background-color: #0e1829;
            border-radius: 15px;
            border-color: black;
            box-shadow: 2px 2px 10px rgba(138, 149, 158, 0.25);
        }
    }
}
.card-group {
    font-size: 0.8rem;
    @include mix.md {
        font-size: 0.75rem;
    }
    @include mix.lg {
        font-size: 0.8rem;
    }
    .link {
        color: black;
        text-decoration: none;
        &:link {
            color: black;
        }
    }
    .card-img {
        // width: 25%;
        // 圖片比例 RWD
        .ratios {
            @include mix.ratio(3.5, 4);
        }
        overflow: hidden;
        img {
            filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 8px;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .card-body {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        div i {
            margin-top: -0.5rem;
            color: #63727e;
            &:hover {
                color: #ef2f2f;
                animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                transform: translate3d(0, 0, 0);
            }
            @keyframes shake {
                10%,
                90% {
                    transform: translate3d(-1px, 0, 0);
                }

                20%,
                80% {
                    transform: translate3d(2px, 0, 0);
                }

                30%,
                50%,
                70% {
                    transform: translate3d(-4px, 0, 0);
                }

                40%,
                60% {
                    transform: translate3d(4px, 0, 0);
                }
            }
        }
    }
}
.pagination {
    @include mix.md {
        margin: 2rem 0 4rem 0;
    }
    ul {
        position: relative;
        width: 100%;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            margin: 0 0.8rem;
            text-align: center;
            color: #fff;
            width: 1.2rem;
            height: 1.2rem;
            font-size: 0.8rem;
            background-color: $gray;
            background: rgba(196, 196, 196, 0.72);
            border-radius: 50%;
        }
    }
}
.recommend-title {
    margin-top: 3rem;
    .text-box {
        border-left: 6px solid transparent;
        @include mix.md {
            border-left: 6px solid $gold;
        }
        @include mix.lg {
            border-left: 10px solid $gold;
        }
        .phone-title {
            padding: 0 10px;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        h3 {
            font-size: 1.5rem;
            color: $gold;
            @include mix.md {
                font-size: 1.7rem;
            }
            @include mix.lg {
                font-size: 2rem;
            }
        }
        p {
            font-size: 0.8rem;
            @include mix.lg {
                font-size: 1rem;
            }
        }
    }
}
// .img-clip {
//     // z-index: 1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     // @media (max-width: 767.98px) {
//     //     height: 375px;
//     // }
//     // @media (min-width: 768px) {
//     //     height: 600px;
//     // }
//     clip-path: polygon(85% 0, 100% 0, 100% 100%, 60% 100%);
//     background: rgba(0, 0, 0, 0.64);
// }
