@use "variables"as var;
@use "mixins"as mix;

// 內容
.signin-forgot-main {
    // all
    color: #fff;
    background-size: cover;
    @include mix.media(background-image, $xs: url("../images/婚禮_5.jpg"), $lg: url("../images/login.jpg"));

    // form 框框
    .form-box {
        background: rgba(255, 255, 255, 10%);
        margin: 1rem;
        @include mix.media(margin-left, $xs: 0, $sm: 1rem);
        @include mix.media(margin-right, $xs: 0, $sm: 1rem);
        padding: 2rem;
        padding-top: 3rem;
        height: 600px;
        border-radius: 80px;
        @include mix.media(width, $sm: 400px);

        //標題
        .box-title {
            text-align: center;
            font-size: calc(2rem + 0.2vmin);
            @include mix.media(font-size, $xs: 18px ,$lg: 30px);

        }

        .f-subtitle{
            padding: 20px;
            text-align: center;
            font-size: calc(2rem + 0.2vmin);
            @include mix.media(font-size, $xs: 14px ,$lg: 18px);
        }

        // 帳號/密碼輸入框
        .form-floating {
            border: 0;
            margin: 30px 16px 30px 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            color: #6a6f77;
        }

        
        //送出按鈕
        .form-btn {
            font-size: 26px;
            text-align: right;
            padding-right: 1rem;

            button {
                color: #fff;
                background: #c4c4c47e;
                width: 50px;
                height: 50px;
                border: 0;
                border-radius: 50%;
                
            }
        }
    }
}