<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member</title>

    <!-- Icons -->
    <!-- <script defer src="../../node_modules/@fortawesome/fontawesome-free/js/all.js"></script> -->
    <link rel="stylesheet" href="../../../../node_modules/@fortawesome/fontawesome-free/css/all.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- 字型 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="./Navbar.scss" /> -->
    <link rel="stylesheet" href="./Breadcrumb.css" />
</head>

<!-- 切版思路：從手機到桌面 -->

<!-- 切版觀念 -->
<!-- 1. RWD 切版思維『從手機出發到桌面』和『桌面出發到手機』擇一 -->
<!-- 2. RWD 切版思維『min-width』or『max-width』擇一-->
<!-- 3. 『容器』不設高，只設寬：意思是高度由『內容物』而決定（內容物多自然就增高，少自然就減少，但是容器可以設最小高度） -->
<!-- 4. 『內容物』不設寬，只設高：意思是寬度設『百分比』吃容器寬、或『格線系統』，高度一般情況也不設，吃『文字大小』-->
<!-- 5. 『版面位置』使用 padding、margin 來調整 -->
<!-- 6. 『使用 Bootstrap BreakPoint 時』，當 RWD 到大尺寸時有時會殘留小尺寸的設定屬性，可以先重置在設定，例如：m-auto m-lg-0 me-lg-auto -->



<body class="wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Product</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product Name 001 <div class="dec-bar"></div></li>
         
        </ol>
      </nav>
</body>

</html>