<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member</title>

    <!-- Icons -->
    <!-- <script defer src="../../node_modules/@fortawesome/fontawesome-free/js/all.js"></script> -->
    <link rel="stylesheet" href="../../../../node_modules/@fortawesome/fontawesome-free/css/all.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- 字型 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="./Navbar.scss" /> -->
    <link rel="stylesheet" href="./Navbar.css" />
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<!-- 切版思路：從手機到桌面 -->

<!-- 切版觀念 -->
<!-- 1. RWD 切版思維『從手機出發到桌面』和『桌面出發到手機』擇一 -->
<!-- 2. RWD 切版思維『min-width』or『max-width』擇一-->
<!-- 3. 『容器』不設高，只設寬：意思是高度由『內容物』而決定（內容物多自然就增高，少自然就減少，但是容器可以設最小高度） -->
<!-- 4. 『內容物』不設寬，只設高：意思是寬度設『百分比』吃容器寬、或『格線系統』，高度一般情況也不設，吃『文字大小』-->
<!-- 5. 『版面位置』使用 padding、margin 來調整 -->
<!-- 6. 『使用 Bootstrap BreakPoint 時』，當 RWD 到大尺寸時有時會殘留小尺寸的設定屬性，可以先重置在設定，例如：m-auto m-lg-0 me-lg-auto -->

<!-- FIXME: 漢堡選單會跟隨連結列表展開而位移 -->

<body class="wrapper">
    <!-- 頁頭 -->
    <header class="navbar sticky-top">
        <!-- container 只是一個有 RWD 和預設 margin, padding 的容器 -->
        <div class="container-lg">
            <!-- Menu Bar -->
            <div class="position-absolute d-lg-none ms-2 sticky-top" id="menu-bar">
                <a href=".multi-link" , data-bs-toggle="collapse" type="button" aria-expand="false"
                    aria-controls="link-group">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <!-- Logo -->
            <div class="m-auto ms-lg-0" id="logo">
                <img src="../../../images/colorful-logo.png" alt="" />
            </div>

            <!-- fixed icon -->
            <ul class="nav d-lg-none" id="d-none-icon">
                <li class="me-2">
                    <a class="nav-icon fs-6" href="#" id="link-icon-heart">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="">
                    <a class="nav-icon fs-6" href="#" id="link-icon-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>

            <!-- Link Group -->
            <ul class="nav collapse text-center multi-link list-unstyled" id="link-group">
                <li class="col-12 col-lg-auto col-lg-auto nav-item mx-lg-3">
                    <a class="nav-link fs-6" id="link-product">Product</a>
                    <div class="sm-link d-lg-none">
                        <div class="container">
                            <ul class="sub-menu">
                                <li>
                                    <a class="nav-link d-inline-block" href="">Wedding</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Portrait</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Food</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Scenery</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Negative</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-lg-auto nav-item mx-lg-3">
                    <a class="nav-link fs-6" id="link-tutorial">Tutorial</a>
                    <div class="sm-link d-lg-none">
                        <div class="container">
                            <ul>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Tutorials</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">FQA</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-lg-auto nav-item mx-lg-3">
                    <a class="nav-link fs-6" id="link-about">About us</a>
                    <div class="sm-link d-lg-none">
                        <div class="container">
                            <ul>
                                <li>
                                    <a class="nav-link d-inline-block" href="">About us</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Design concept</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-lg-auto nav-item mx-lg-3">
                    <a class="nav-link fs-6" id="link-support">Support</a>
                    <div class="sm-link d-lg-none">
                        <div class="container">
                            <ul>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Customer service</a>
                                </li>
                                <li>
                                    <a class="nav-link d-inline-block" href="">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- link icons -->
            <ul class="nav flex-nowrap text-center collapse d-lg-flex multi-link" id="icon-group">
                <li class="col nav-item mx-md-1 mx-lg-2">
                    <a class="nav-icon fs-6" href="#" id="link-icon-envelope">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li class="col nav-item mx-md-1 mx-lg-2">
                    <a class="nav-icon fs-6" href="#" id="link-icon-heart">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                <li class="col nav-item mx-md-1 mx-lg-2">
                    <a class="nav-icon fs-6" href="#" id="link-icon-user">
                        <i class="fas fa-user"></i>
                        <!-- 登入 -->
                        <!-- <i class="fas fa-sign-in-alt"></i> -->
                        <!-- 登出 -->
                        <!-- <i class="fas fa-sign-out-alt"></i> -->
                    </a>
                </li>
                <li class="col nav-item mx-md-1 mx-lg-2">
                    <a class="nav-icon fs-6" href="#" id="link-icon-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-lg  d-lg-block bg-color" id="tmp-hide">
        <!-- <div class="row"> -->
        <div class="show-img">
            <img src="../../../images/navbar-ex-2.jpg" alt="" class="d-lg-block" />
        </div>
        <ul class="showbox-link">
            <li><a class="nav-link" href="#">婚禮 / Wedding</a></li>
            <li>
                <a class="nav-link" href="#">人像 / Portrait</a>
            </li>
            <li><a class="nav-link" href="#">食物 / Food</a></li>
            <li><a class="nav-link" href="#">風景 / Scenery</a></li>
            <li>
                <a class="nav-link" href="#">底片 / Negative</a>
            </li>
        </ul>
    </div> -->
</body>

</html>