body {
    font-family: 'Tenor Sans', sans-serif;
    color: #fff;
    background-image: url("../../images/login.jpg");
    background-size: 100%;
}

.form-box {
    background: rgba(255, 255, 255, 10%);
    margin: 20px;
    padding: 50px;
    width: 480px;
    height: 600px;
    border-radius: 80px;
    left: 240px;
    top: 100px;
}

.box-title {
    font-size: 36px;
    text-align: center;
}

.form-floating {
    border: 0;
    margin: 30px;
    -web-kit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: #6a6f77;
}

.forgot {
    /* position: relative; */
    text-align: right;
    margin: 30px;
    color: #fff;
    text-decoration: none;
}

.form-btn {
    color: #fff;
    background: #c4c4c47e;
    width: 320px;
    height: 50px;
    border-radius: 20px;
}

.signup {
    text-align: center;
    margin: 30px;
}

.text-center {
    font-size: 26px;
}

.input_control {
    width: 360px;
    margin: 20px auto;
}

.l-icon {
    width: 70px;
    height: 70px;
    display: flex;
    margin: 20px;
}

.l-icon-link {
    font-size: 50px;
    color: #fff;
    border: solid 1px rgba(255, 255, 255, 50%);
    border-radius: 100%;
    margin: 0 50px;
}

.l-link {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background-image: url("../../images/婚禮_5.jpg");
    }

    h4 {
        font-size: 18px;
    }
    
}