@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
/* 變數 */
:root {
  --dark-4: #1f3359;
  --dark-3: #33415c;
  --dark-2: #1f5184;
  --dark-1: #3d5a81;
  --gray-4: #637271;
  --gray-3: #778a9a;
  --gray-2: #8196a8;
  --gray-1: #e8ebe9;
  --font-color-1: #cf9d3f;

  --font-size-1: 20px;

  --font: "Merriweather", serif;

  --show-1: 1px solid crimson;
  --show-2: 1px solid cyan;
  --show-3: 1px solid green;
  --show-4: 1px solid orange;
  /* --show-1: 0px solid crimson;
  --show-2: 0px solid cyan;
  --show-3: 0px solid green;
  --show-4: 0px solid orange; */
}

/* 元素 */
body {
  /* 寬由 container 管理 */
  min-height: 100vh;
  max-width: 100%;
  font-family: var(--font);

  box-sizing: border-box;
  background-color: var(--dark-3);
}

header {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

div {
  border: var(--show-1);
}

ul {
  border: var(--show-2);
}

li {
  border: var(--show-3);
}

a {
  border: var(--show-4);
  text-decoration: none;
}

/* 工具 */

/* 區域 */
#navbar {
  background: var(--dark-4);
}

#navbar .row {
  height: 13vh;
}

#logo {
  color: var(--font-color-1);
}

#links a {
  color: var(--font-color-1);
  font-size: var(--font-size-1);
}

#incons i {
  color: var(--gray-1);
}
