/* .pageOne {
    background-color: #59405c;
} */

#LP2 {
    background-color: #ed6663;
}

#LP3 {
    background-color: #b52b65;
}

#LP4 {
    background-color: #3c2c3e;
}

/* #frame {
    height: 160px;
    width: 160px; 
    position: relative;
}
*/

.container {
    margin: 0px;
    padding: 0px;
}

.test {
    width: 90%;
}
