@use "styles/variables" as var;
@use "styles/mixins" as mix;

.game {
    .modal-dialog {
        height: 100%;
    }
    .t-center {
        text-align: center;
        @include mix.media(font-size, $xs: 24px, $lg: 30px);
    }

    .text-center {
        text-align: center;
        @include mix.media(font-size, $xs: 12px, $lg: 20px);
    }

    .our-modal {
        background-color: #fff;
    }

    .button-modal {
        text-align: center;
    }
}
